## Ansible controlled file
# Added as part of ansible-lockdown CIS baseline
# provided by MindPointGroup LLC

[Time]

NTP={{ ubtu20cis_time_pool.name }}


FallbackNTP={% for servers in ubtu20cis_time_servers %}{{ servers.name }} {% endfor %}

