## Ansible controlled file
# Added as part of ansible-lockdown CIS baseline
# provided by MindPointGroup LLC

NTP={{ ubtu20cis_time_pool }}


FallbackNTP={% for servers in ubtu20cis_time_servers %}{{ servers.name }} {% endfor %}

