{{ file_managed_by_ansible }}

# 5.3.3.2.3 Ensure password complexity is configured
minclass = {{ ubtu20cis_passwd_minclass }}
dcredit = {{ ubtu20cis_passwd_dcredit }}
ucredit = {{ ubtu20cis_passwd_ucredit }}
ocredit = {{ ubtu20cis_passwd_ocredit }}
lcredit = {{ ubtu20cis_passwd_lcredit }}
